* {
    padding: 0;
    margin: 0;
}
html{
    
    background-image: image(image,bolsonaro);

}
#p1 {
    text-align: center;
    color:rgb(237, 233, 18);
    width: 500px;
    border-radius: 25px;
    border:solid black 2px;
    
}
#p2 {
    column-gap: normal;
    color: rgb(239, 236, 49);
    width: 500px;
    border-radius: 25px;
    border:solid black 2px;

}

.bolsonaro{
    background-color: rgb(18, 8, 216);
    image-rendering: optimizeQuality;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.space{
    padding: 1rem;
}
